*{
    font-family: 'Comfortaa', cursive;
}
.nav_linc{
    text-decoration: none;
    color: #414BA0;
    font-size: 25px;
}
#underline_enter{
    background: url(img/underline_enter.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.nav_linc:hover{
    color: #122BFB;
}
.nav_linc:active{
    color: #122BFB;
    text-decoration: underline;
}
#whatsapp:active{
    box-shadow: 0px 7px 7px 0px rgba(34, 60, 80, 0.2);
}
.block1_text1{
    word-spacing: 30px;
    color: #414BA0;
    font-size: 36px;
}
.block1_header{
    color: #414BA0;
    font-size: 200px;
}
.block1_text2{
    color: #414BA0;
    font-size: 24px;
}
.block5_header{
    color: #414BA0;
    font-size: 70px;
}
#underline_res{
    background: url(img/Underline_result.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.block5_text{
    color: #414BA0;
    font-size: 20px;
}
.blur{
    position: absolute;
    top: 1000px;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 300px;
    min-height: 300px;
    z-index: -1;
    background-image: url('img/Gradient_Fifth_block.svg');
    background-position:left center;
    background-repeat: no-repeat;
}
.block6_header{
    color: #414BA0;
    font-size: 36px;
}
.block_btn{
    font-size: 32px;
    padding: 14px 45px 14px 45px;
    margin-top: 32px;
    border-radius: 21px;
    color: white;
    border-width: 0;
    background: linear-gradient(260.12deg, #94579E 10.89%, #F354B4 45.77%);
}
.block_btn:hover{
    background: linear-gradient(260.12deg, #603168 10.89%, #E42498 45.77%);
}
.block_btn:active{
    box-shadow: 0 21px 56px #EF9ECE;
    border-radius: 21px;
}
footer{
    background-color: #414BA0;
}
footer .nav_linc{
    color: white;
    font-family: Arial;
    text-decoration: underline;
    font-size: 12px;

}
.bi-whatsapp{
    color: white;
    font-size: 1.2em;
}
#footer_header{
    font-size: 20px;
    text-decoration: none;
}
#toTop {
    border-radius: 50%;
    width:96px;
    height:96px;
    position:fixed;
    bottom:115px; /* отступ кнопки от нижнего края страницы*/
    right:20px;
    cursor:pointer;
}
#toTop:hover{
    background: linear-gradient(217.16deg, rgba(248, 250, 158, 0.6) 15.28%, rgba(203, 8, 235, 0.174) 69.56%);
}
#toTop:active{
    background: linear-gradient(217.16deg, rgba(248, 250, 158, 0.6) 15.28%, rgba(203, 8, 235, 0.174) 69.56%);
    box-shadow: 0px 7px 7px 0px rgba(34, 60, 80, 0.2);
}